<!DOCTYPE html>
<html>
<head>
	<title>{{@blog.title}}</title>
	<meta http-equiv="refresh" content="0; url={{@blog.url}}">
</head>
<body>
	<!-- This is just useless -->
	<p>Please wait...</p>
</body>
</html>